---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"

import Layout from "@layouts/Layout.astro"
import BlogCard from "@components/cards/BlogCard.astro"
import placeholderImage from "@images/placeholder.png"
import { formatDate } from "@/utils"

const blogs = (await getCollection("blogs", ({ data }) => data.isPublished && data.pubDate)).sort(
  (a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf(),
)

const title = "Blog | Harsh Narayan Jha"
const description = "Harsh Narayan Jha's Blogs"
---

<Layout title={title} description={description}>
  <section class="mx-auto h-auto w-full max-w-7xl px-4 py-16 md:px-16 md:py-28">
    <Icon name="write" class="m-2 ms-0" size={24} />
    <h2 class="text-5xl font-semibold">Blog</h2>
    <p class="mt-4 text-gray-900/50 dark:text-gray-50/50">Stuff I write sometimes about the things I do.</p>

    <div class="mx-auto mt-16 flex max-w-4xl flex-col items-center justify-start gap-2 px-4">
      {
        blogs.map((blog) => (
          <a href={`/blog/${blog.slug}`} class="w-full">
            <BlogCard class="w-full">
              {blog.data.image ? (
                <Image
                  src={blog.data.image}
                  alt={blog.data.title}
                  width={150}
                  slot="image"
                  class="rounded-2xl border-2 border-b-0 border-slate-200/50 dark:border-slate-600/50"
                />
              ) : (
                <Image
                  src={placeholderImage}
                  alt="blog image placeholder"
                  width={150}
                  class="rounded-2xl border-2 border-b-0 border-slate-200/50 dark:border-slate-600/50 dark:invert"
                  slot="image"
                />
              )}

              <time class="prose dark:prose-invert prose-sm" datetime={blog.data.pubDate?.toISOString()} slot="date">
                {blog.data.pubDate ? formatDate(blog.data.pubDate) : "A long time ago"}
              </time>

              <h3 class="text-3xl font-semibold" slot="title">
                {blog.data.title}
              </h3>

              <p class="prose dark:prose-invert mt-2 line-clamp-4 md:line-clamp-2" slot="text">
                {blog.data.description}
              </p>

              <div class="prose dark:prose-invert items-center justify-start" slot="tags">
                {blog.data.tags.map((tag) => (
                  <kbd>#{tag}</kbd>
                ))}
              </div>
            </BlogCard>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
