---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"

import EducationCard from "../EducationCard.astro"

const educations = await getCollection("educations")
---

<h1 class="mb-2 ps-8 text-4xl font-bold sm:text-5xl md:mb-8 md:ps-16">Education&nbsp;&nbsp;📚</h1>

<p class="mt-2 mb-4 ps-8 text-[1rem] font-medium md:mt-8 md:ps-16">
  Not been to a lot of places, but for sure to the best places.
</p>
<div class="relative container mx-auto flex flex-col px-8 py-2 md:px-15 md:py-10">
  <div class="absolute top-8 left-2 h-full w-2 rounded-full bg-green-400 md:w-2"></div>

  {
    educations.map((edu) => (
      <EducationCard class="my-4 w-full transition-all hover:scale-102 sm:mx-4">
        <Image
          src={edu.data.img}
          alt={`${edu.data.name}'s Logo`}
          class="w-48 rounded-full border-2 border-stone-300 p-1 transition-transform hover:scale-105 hover:border-4 hover:border-green-500 dark:border-stone-700"
          slot="image"
        />

        <Fragment slot="title">
          <h3 class="text-xl font-semibold sm:text-2xl">{edu.data.name}</h3>
          <h4 class="mb-1 text-base font-normal text-gray-600 sm:text-[1.1rem] dark:text-gray-300">
            {edu.data.location}
          </h4>
          <h4 class="mb-4 text-sm font-semibold text-gray-500">{edu.data.duration}</h4>
        </Fragment>

        <p class="text-justify leading-relaxed text-gray-700 dark:text-gray-200" slot="text">
          {edu.data.text}
        </p>
      </EducationCard>
    ))
  }
</div>
