---
import TestimonialCard from "@/components/cards/TestimonialCard.astro"
import { getCollection } from "astro:content"

const testimonials = await getCollection("testimonials", t => t.data.isPublished === true)
---

<div class="w-full">
  {
    testimonials.map(t => (
      <TestimonialCard class="mx-auto max-w-4xl" testimonial={t.data}>
        <h4
          class="font-heading text-lg font-bold text-neutral-800 dark:text-neutral-100"
          slot="title"
        >
          {t.data.title}
        </h4>
        <p
          class="prose dark:prose-invert dark:text-neutral-350 text-sm leading-relaxed whitespace-pre-line text-neutral-700 dark:text-neutral-300"
          slot="text"
        >
          {t.data.text}
        </p>
        <h4 class="text-neutral-850 text-sm font-bold dark:text-neutral-100" slot="name">
          {t.data.name}
        </h4>
        <p class="text-muted font-mono text-xs" slot="at">
          {t.data.at} &mdash; <span class="font-sans italic">{t.data.position}</span>
        </p>
      </TestimonialCard>
    ))
  }
</div>
