---
import { getCollection } from "astro:content"
import BlogCard from "../BlogCard.astro"
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"
import placeholderImage from "../../img/placeholder.png"

const featuredBlogs = (
  await getCollection("blogs", ({ data }) => data.isPublished === true && data.pubDate !== undefined)
)
  .sort((a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf())
  .slice(0, 3)
---

<div class="m-auto flex max-w-5xl flex-col flex-wrap justify-center px-4 py-2 md:flex-row md:px-4 md:py-4">
  {
    featuredBlogs.map((blog) => (
      <a href={`/blog/${blog.slug}`} class="w-full">
        <BlogCard class="w-full">
          {blog.data.image ? (
            <Image src={blog.data.image} alt={blog.data.title} width={150} slot="image" />
          ) : (
            <Image src={placeholderImage} alt="blog image placeholder" width={200} />
          )}
          <div slot="title">
            <p class="prose dark:prose-invert">
              {blog.data.pubDate!.toLocaleDateString("en-IN", { dateStyle: "long" })}
            </p>
            <h3 class="mt-2 text-3xl font-semibold">{blog.data.title}</h3>
          </div>
          <div class="prose dark:prose-invert mt-2 h-full" slot="text">
            <p class="">{blog.data.description}</p>
            <div class="mt-8 flex flex-row justify-start">
              {blog.data.tags.map((tag) => (
                <kbd>#{tag}</kbd>
              ))}
            </div>
          </div>
        </BlogCard>
      </a>
    ))
  }
</div>
<div class="mt-8 text-center">
  <a
    href="/blog"
    class="prose dark:prose-invert underline underline-offset-2 transition-colors duration-300 hover:text-gray-700 dark:hover:text-gray-100"
  >
    See more blogs &gtdot;
  </a>
</div>
