---
import TestimonialCard from "@/components/cards/TestimonialCard.astro"
import { getCollection } from "astro:content"

const testimonials = await getCollection("testimonials", t => t.data.isPublished === true)
---

<div class="w-full">
  {
    testimonials.map(t => (
      <TestimonialCard class="mx-auto max-w-[24rem]" testimonial={t.data}>
        <h4 class="text-sm font-semibold uppercase" slot="title">
          {t.data.title}
        </h4>
        <p class="prose dark:prose-invert whitespace-pre-line" slot="text">
          {t.data.text}
        </p>
        <h4 class="text-md font-bold" slot="name">
          {t.data.name}
        </h4>
        <p class="text-sm" slot="at">
          {t.data.at} &mdash; <span class="italic">{t.data.position}</span>
        </p>
      </TestimonialCard>
    ))
  }
</div>
