---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"

import placeholderImage from "@images/placeholder.png"
import BlogCard from "@components/cards/BlogCard.astro"
import { formatDate } from "~/utils"

const featuredBlogs = (
  await getCollection("blogs", ({ data }) => data.isPublished === true && data.pubDate !== undefined)
)
  .sort((a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf())
  .slice(0, 3)
---

<div class="m-auto flex max-w-5xl flex-col flex-wrap justify-center px-4 py-2 md:flex-row md:px-4 md:py-4">
  {
    featuredBlogs.map((blog) => (
      <a href={`/blog/${blog.slug}`} class="w-full">
        <BlogCard class="w-full">
          {blog.data.image ? (
            <Image src={blog.data.image} alt={blog.data.title} width={150} slot="image" />
          ) : (
            <Image src={placeholderImage} alt="blog image placeholder" width={150} class="dark:invert" slot="image" />
          )}

          <time class="prose dark:prose-invert prose-sm" datetime={blog.data.pubDate?.toISOString()} slot="date">
            {blog.data.pubDate ? formatDate(blog.data.pubDate) : "A long time ago"}
          </time>

          <h3 class="text-3xl font-semibold" slot="title">
            {blog.data.title}
          </h3>

          <p class="prose dark:prose-invert mt-2 truncate" slot="text">
            {blog.data.description}
          </p>

          <div class="prose dark:prose-invert items-center justify-start" slot="tags">
            {blog.data.tags.map((tag) => (
              <kbd>#{tag}</kbd>
            ))}
          </div>
        </BlogCard>
      </a>
    ))
  }
</div>
<div class="mt-8 text-center">
  <a
    href="/blog"
    class="prose dark:prose-invert underline underline-offset-2 transition-colors duration-300 hover:text-gray-700 dark:hover:text-gray-100"
  >
    See more blogs &gtdot;
  </a>
</div>
