---
import { getCollection } from "astro:content"
import ProjectCard from "../ProjectCard.astro"
import { Image } from "astro:assets"

const projects = await getCollection("projects")
---

<h1 class="mb-2 ps-8 text-4xl font-bold sm:text-5xl md:mb-8 md:ps-16">Projects&nbsp;&nbsp;🛠</h1>
<div class="flex flex-col flex-wrap justify-center px-8 py-2 md:flex-row md:px-15 md:py-10">
  {
    projects.map((proj) => (
      <ProjectCard bg={"bg-stone-50 dark:bg-gray-950"} class="m-auto my-4 w-full md:mx-8 md:w-96" tags={proj.data.tags}>
        <Image
          src={proj.data.img}
          alt={`${proj.data.name}'s Image`}
          class="rounded-2xl border-2 border-b-0 border-slate-200/50 dark:border-slate-600/50"
          slot="image"
        />
        <div class="text-2xl font-semibold" slot="title">
          {proj.data.name}
        </div>
        <div class="mt-2 text-[1rem]" slot="text">
          {proj.data.text}
        </div>
        <a href={proj.data.url} target="_blank" slot="button">
          <button class="w-full rounded-md bg-sky-500 py-2 font-semibold text-white dark:bg-sky-600">Explore</button>
        </a>
      </ProjectCard>
    ))
  }
</div>
