---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"

import WorkCard from "@components/cards/WorkCard.astro"

const works = await getCollection("works")
---

<div class="flex flex-col items-center px-8 py-8 md:px-15 md:py-10">
  {
    works.map((work) => (
      <WorkCard class="mx-auto my-4">
        <Image src={work.data.img} alt={`${work.data.name}'s Logo`} class="w-48 p-1" slot="image" />

        <Fragment slot="title">
          <h3 class="text-2xl font-semibold">{work.data.name}</h3>
          <h4 class="mb-4 text-[0.8rem] font-normal">{work.data.location}</h4>

          <h4 class="mb-4 text-sm font-semibold">
            {work.data.fromTo} ({work.data.duration})
          </h4>
        </Fragment>

        <p class="prose dark:prose-invert mb-8 text-justify leading-6" slot="text">
          {work.data.text}
        </p>
      </WorkCard>
    ))
  }
</div>
<div class="mt-8 text-center">
  <a
    href="/about#about-experiences"
    class="prose dark:prose-invert underline underline-offset-2 transition-colors duration-300 hover:text-gray-700 dark:hover:text-gray-100"
  >
    See more experiences &gtdot;
  </a>
</div>
