---
import { Icon } from "astro-icon/components"
import { getCollection } from "astro:content"

import Layout from "@layouts/Layout.astro"

const experiences = (await getCollection("experiences")).sort((a, b) => b.data.start.valueOf() - a.data.start.valueOf())

const title = "About Me | Harsh Narayan Jha"
const description = "Harsh Narayan Jha's About Page"
---

<Layout title={title} description={description}>
  <section class="h-auto w-full px-4 py-16 md:px-16 md:py-28">
    <div class="mx-auto text-center">
      <Icon name="about" class="m-2 inline" size={24} />
      <h2 class="mt-4 text-center text-4xl font-semibold">About Me</h2>
    </div>

    <div class="prose dark:prose-invert prose-lg mx-auto mt-16 md:mt-32">
      <div class="not-prose">
        <h1 class="text-3xl font-bold text-neutral-950 dark:text-white">Harsh Narayan Jha</h1>
        <p class="">Student at Birla Institute of Technology</p>
      </div>

      <p>
        Hi There! I am Harsh, and I like to build things. I am currently a student at Birla Institute of Technology,
        Deoghar, pursuing my BTech in Computer Science Engineering. I spend my time tinkering with things and
        experimenting with.
      </p>
      <p>
        You can rely on me as an full-stack engineer, a game dev, or an app dev. I have a knack for problem-solving and
        a passion for learning new technologies. I have expertise in various programming languages and frameworks,
        including Python, JS/TS, React/NextJS, Svelte, Flutter, Unity/Godot, Kotlin, C++, Rust and more.
      </p>

      <p>
        I use Arch Linux and Hyprland as my daily driver, and carry an Android Phone. I don't hate windows, but it is
        now horrible to use. I love making an contributing to open source projects.
      </p>

      <p>Here are some of the things I enjoy</p>
      <!-- Icons here -->
    </div>
  </section>

  <section id="about-experiences" class="h-auto w-full px-4 py-32 md:px-16">
    <div class="mx-auto text-center">
      <Icon name="work" class="m-2 inline" size={24} />
      <h3 class="mt-4 text-center text-2xl font-semibold">Experiences</h3>
    </div>

    <div class="prose dark:prose-invert mx-auto mt-16 flex max-w-none flex-col gap-8 md:px-40">
      {
        experiences.map((exp) => {
          return (
            <div class="grid grid-cols-1 gap-0 md:grid-cols-[1fr_3fr] md:gap-16">
              <p class="font-mono md:justify-self-end">
                {exp.data.start.toLocaleDateString("en-IN", { month: "short", year: "numeric" })} -{" "}
                {exp.data.end === "PRESENT"
                  ? "PRESENT"
                  : exp.data.end.toLocaleDateString("en-IN", { month: "short", year: "numeric" })}
              </p>
              <div>
                <h4>
                  {Array(exp.data.level)
                    .fill(0)
                    .map(() => (
                      <Icon name={`exp/${exp.data.type}`} class="inline" size={18} />
                    ))}
                  {exp.data.role}
                </h4>
                <p>
                  <span class="font-semibold">{exp.data.at}</span>
                  &mdash;
                  <span class="italic">{exp.data.location}</span>
                </p>
                <p>{exp.data.description}</p>
                <ul>
                  {exp.data.points.map((pt) => (
                    <li>{pt}</li>
                  ))}
                </ul>
              </div>
            </div>
          )
        })
      }
    </div>
  </section>
</Layout>
