---
import { Picture } from "astro:assets"
import Layout from "./Layout.astro"

import TransparentDivider from "@/components/reusable/TransparentDivider.svelte"
import { formatDate } from "@/utils"
import { getReadingTime } from "@/utils/reading-time"
import type { CollectionEntry } from "astro:content"

type Props = CollectionEntry<"blogs">["data"] & { body: string }

const { title: blogTitle, description, image, author, pubDate, theme, tags, body } = Astro.props

const readingTime = getReadingTime(body)

const title = `${blogTitle} | Harsh Narayan Jha's Blog`
---

<Layout title={title} description={description}>
  <main class="mx-auto h-auto max-w-5xl px-4 py-8 md:px-8">
    {
      image && (
        <Picture
          src={image}
          alt={blogTitle}
          class="md:aspect-pi mb-4 aspect-video w-full rounded-md object-cover object-center"
          formats={["avif", "webp"]}
          priority
        />
      )
    }

    <div class="prose dark:prose-invert flex flex-row gap-2 font-mono">
      {tags.map(tag => <kbd>#{tag}</kbd>)}
    </div>

    <h1
      class:list={[
        "font-hero mt-2 text-4xl font-black md:text-6xl",
        theme === "blue" && "text-primary",
        theme === "green" && "text-secondary",
      ]}
    >
      {blogTitle}
    </h1>
    <p class="prose dark:prose-invert prose-neutral prose-lg mt-4 font-semibold md:max-w-9/12">
      {description}
    </p>

    <div class="mt-4">
      <h3 class="font-semibold">{author}</h3>
      <p class="prose-sm font-medium">
        {pubDate ? formatDate(pubDate) : "A long time ago"}{" "}
        {readingTime && <span>&CircleDot;&nbsp;{readingTime}</span>}
      </p>
    </div>

    <TransparentDivider widthClass="my-8" />

    <div
      class:list={[
        "prose dark:prose-invert prose-img:rounded-xl prose-neutral prose-lg md:max-w-9/12",
        theme === "blue" && "prose-sky",
        theme === "green" && "prose-emerald",
      ]}
    >
      <slot />
    </div>
  </main>
</Layout>
