---
import Layout from "./Layout.astro"
import { Image } from "astro:assets"

import TransparentDivider from "@components/reusable/TransparentDivider.svelte"
import type { CollectionEntry } from "astro:content"
import { formatDate } from "@/utils"

type Props = CollectionEntry<"blogs">["data"]

const { title: blogTitle, description, image, author, pubDate } = Astro.props

const title = `${blogTitle} | Harsh Narayan Jha's Blog`
---

<Layout title={title} description={description}>
  <main class="mx-auto h-auto max-w-6xl px-4 py-16 md:px-8 md:py-16">
    {image && <Image src={image} alt={blogTitle} class="w-full" />}

    <h1 class="mt-4 text-4xl font-black md:text-6xl">{blogTitle}</h1>
    <p class="prose dark:prose-invert mt-4 md:max-w-9/12">
      {description}
    </p>

    <div class="mt-4 md:mt-12">
      <h3 class="font-medium">{author}</h3>
      <p class="prose-sm">{pubDate ? formatDate(pubDate) : "A long time ago"}</p>
    </div>

    <TransparentDivider />

    <div class="prose dark:prose-invert prose-img:rounded-xl prose-neutral prose-emerald prose-lg md:max-w-9/12">
      <slot />
    </div>
  </main>
</Layout>
